// Normalization
*, *::after, *::before
{
    margin: 0;
    padding: 0;
    box-sizing: inherit
}


// Definition for 1rem
html 
{
    height: 100%;
    font-size: 62.5%;
    @media only screen and (max-width: 62.5em)
    {
        font-size: 55.5%;
    }

    @media only screen and (max-width: 37.5em)
    {
        font-size: 50%;
    }

    @media only screen and (min-width: 143.75em)
    {
        font-size: 90%;
    }

    @media only screen and (min-width: 187.5em)
    {
        font-size: 110%;
    }

     @media only screen and (min-width: 237.5em)
    {
        font-size: 120%;
    }
}

// Body
body
{
    box-sizing: border-box;
    height: 100%;
    overflow-x: hidden;
}

main
{
    width: 90%;
    margin: 2.5rem auto;
    margin-bottom: 8rem;

    @media only screen and (max-width: 62.5em)
    {
        width: 85%;
    }

    @media only screen and (max-width: 31.25em)
    {
        width: 78%
    }

    @media only screen and (min-width: 87.5em)
    {
        width: 120rem
    }

}

// Scroll
::-webkit-scrollbar-track
{
	border-radius: 12px;
	background-color: $color-footer;
}

::-webkit-scrollbar
{
	width: 6px;
    background-color: $color-footer;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 12px;
	background-color: $color-scroll;
}