// Colors
$color-primary: #343a41;
$color-primary-dark: #31363b;
$color-primary-dark-2: #252a2e;

$color-secondary: #22262a;

$color-footer: #171a1d;

$color-text: #94a4b4;
$color-text-dark: #5b6570;

$color-white: #fff;
$color-black: #000;
$color-gray: #565f69;

$color-linkedin: #0077b5;
$color-github: #333;
$color-email: #6FC2B0;

$color-scroll: rgb(151, 191, 211);

// Cubic Beziers
$cubic-bezier-primary: cubic-bezier(0.175, 0.885, 0.32, 1.275);

// Layers
$layer-burger: 1000;
$layer-navigation: 900;
$layer-modal: 800;
$layer-contact: 700;

// Fonts
$font-primary: Staatliches, sans-serif;
$font-secondary: Inconsolata, sans-serif;

// Grid
$grid-width: 100%;
$gutter-vertical: 6rem;
$gutter-horizontal: 6rem;